@{
    ViewData["Title"] = "Know Your Calories";
}


<div style="text-align:center">
    <h1>@ViewData["Title"]</h1>
    <p>It all comes down to simple math!</p>

    <p>
        When your body burns more energy than you eat, you lose weight.
        The energy your body uses is measured in calories.
    </p>
    <p>
        We'll give you a calorie budget that represents an amount to eat each day.
        Track your food, follow your calorie budget, and you'll lose weight!
    </p>

    <img src="/images/SimpleMath.jpg" style="width:328px;height:228px;">
</div>