@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome to KnowCal</h1>
        <p></p>
    </div>*@



<body id="homeBody">
    <h1 id="homeH1">KnowCal</h1>
    <div style="text-align:center">
        <a class="btn btn-primary btn-lg" role="button" asp-area="Identity" asp-page="/Account/Login"><b>Login</b></a>
        <a class="btn btn-primary btn-lg" role="button" asp-area="Identity" asp-page="/Account/Register"><b>Register</b></a>
    </div>
    <div style="text-align:center" class="mt-1">
        <a class="btn btn-primary btn-lg" role="button" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
    </div>
</body>

