@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    margin: 0;
    padding: 0px;
}

#homeH1 {
    font-family: 'Pacifico', cursive;
    font-size: 230px;
    color: white;
    text-shadow: 3px 3px black;
}

#homeBody {
    background-image: url(/images/alexandr-podvalny-WOxddhzhC1w-unsplash.jpg);
    background-size: 100%;
    background-position: 10% 0;
    background-repeat: no-repeat;
}



    