@model IEnumerable<CalorieTracker.Models.InitialCalorieIntakeList>

@{
    ViewData["Title"] = "GetInitialCalorieIntake";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Recent Food!</h1>

<p>
    <a class="btn btn-primary btn-md" asp-action="Index">Next Page </a>
    
</p>
<p>In the last 2 weeks, which of these foods have you eaten? Press "Add" to all that apply, then press "Next Page"!</p>
<p>(If you didn't have any of these foods, select the ones you're most likely to eat.)</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                <a asp-action="AddInitialCalorieIntake" asp-route-id="@item.Id">Add</a>                
            </td>
        </tr>
}
    </tbody>
</table>
