@model CalorieTracker.Models.FoodDiary

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h4>FoodDiary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DailyCaloriesAccumulated" class="control-label"></label>
                <input asp-for="DailyCaloriesAccumulated" class="form-control" />
                <span asp-validation-for="DailyCaloriesAccumulated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthEnthusiastId" class="control-label"></label>
                <select asp-for="HealthEnthusiastId" class="form-control" asp-items="ViewBag.HealthEnthusiastId"></select>
                <span asp-validation-for="HealthEnthusiastId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
