@model Emailmodel
@{
    ViewData["Title"] = "SendgridEmail";
}

<h2>Sendgrid Email Api Inetegration</h2>
<form asp-action="SendgridEmailSubmit" asp-controller="Home" method="post">
    <table style="padding:20px;">
        
        <tr>
            <td>To</td>
            <td>  <input asp-for="To" /></td>
        </tr>
        
        <tr>
            <td></td>
            <td><input type="submit" value="Send Email" /></td>
        </tr>
    </table>
</form>
